* {
    box-sizing: border-box; 
}

body {
    margin: 0px;
}

h1 {
    font-size: ; 
}

#sectionOne {
    display: flex; 
    flex-direction: column; 
    justify-content: space-around; 
    align-items: center; 
    text-align: center; 
    background: #6844FE; 
    padding: 60px;
    color: white; 
    height: 80vh;  
}

#answer-section {
    text-align: center; 
    background: lightgray; 
    display: flex;
    flex-direction: column; 
    justify-content: center; 
}

#number {
    border: solid 3px grey;  
    font-size: 36px; 
    border-radius: 5px;
    text-align: center; 
}

button {
    background: white; 
    border-style: none;  
    padding: 8px 25px; 
    border-radius: 8px; 
    transition: 250ms linear; 
}

button:hover {
    cursor: pointer;
    transform: scale(1.1); 
    background: orange; 
    
}
h2 {
    margin: 0px; 
}

.ans-card {
    margin: 15px 40px; 
    padding: 10px 20px; 
    background: white; 
    border-radius: 5px; 
}